<div class="back">

  <nav class="navbar navbar-expand-lg modern-navbar {{ theme }}">
    <div class="container-fluid">

      <a class="navbar-brand d-flex align-items-center flex-grow-1 me-2" href="/">
        <img src="https://betaphysics.iiti.ac.in/iit-phy-logo.png" class="logo-img" alt="IIT Indore Physics">

        <div class="logo-text ms-2">
          <h6 class="mb-0 fw-bold">Department of Physics</h6>
          <small class="yellow">
            Indian Institute of Technology Indore
          </small>
        </div>
      </a>

      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu"
        aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navMenu">
        <ul class="navbar-nav align-items-lg-center">

          @for (item of menuItems; track item.label) {
          <li class="nav-item">
            <a class="nav-link" [href]="item.link">
              {{ item.label }}
            </a>
          </li>
          }

          <li class="nav-item ms-lg-3 mt-2 mt-lg-0">
            <button class="btn theme-btn" (click)="toggleTheme()">
              {{ theme === 'light' ? '🌙 Night' : '☀️ Day' }}
            </button>
          </li>

        </ul>
      </div>

    </div>
  </nav>

  <div class="container directory-header blue mt-4 mb-4">
    <div class="row align-items-center gy-3">

      <div class="col-10 col-md-5 offset-1">
        <div class="directory-title">
          <small class="mb-0 fw-bold bold">
            <div class="line line1"></div>-&nbsp;Department Directory
          </small>
          <h1>Our People</h1>
        </div>
      </div>

      <div class="col-10 col-md-4 offset-1">
        <form class="search-box">
          <div class="position-relative">
            <input type="search" class="form-control" placeholder="Search departments, people..." />
            <button type="submit">Search</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div>

  </div>
  <div class="container-fluid text-start  filter">
    <div class="d-flex flex-nowrap overflow-auto align-items-center gap-2 category-scroll">
      <button class="btn category-btn text-light flex-shrink-0 mt-1 left" (click)="onCategoryChange('')">
        All
      </button>

      @for (category of categories; track category) {
      <button class="btn category-btn text-light flex-shrink-0 mt-1" (click)="onCategoryChange(category)">
        {{ category }}
      </button>
      }

    </div>
  </div>

  <div class="container py-5">
    <div class="row g-4">

      @for (item of departments(); track item.id) {


      <div class=" color col-12 col-sm-6 col-md-4 col-lg-3" (click)="openUser(item.id)">

        <div class="card  modern-card">
          <div class="card-header color">

            <img class=" text-center" src="https://betaphysics.iiti.ac.in/api/images/1773753904593-296902482.jpg"
              class="card-img-top profile-img" alt="Profile">
          </div>
          `
          <div class="card-body text-bold">

            <h5 class="card-title">
              <span class="text"> Prof.&nbsp;

                {{ item.name }}
              </span>
            </h5>
            <span style="color: #C3A84C;">
              Professor
            </span>
            <br>

            <span class="text">
              Experimental High Energy Physics
            </span>
            <hr class="text">
            <div class="card-footer">

              <p class="text"><i class="fa fa-envelope text" aria-hidden="true"></i> &nbsp; &nbsp;{{item.website}}</p>
            </div>
          </div>
        </div>
      </div>

      }
      @for (item of departments(); track item.id) {
      } @empty {
      <h1 class="text-bold text-center text">No members found in this category.</h1>
      }
    </div>
  </div>

  <footer class="dark text-light pt-5 pb-3">
    <div class="container">
      <div class="row gy-4">

        <div class="col-lg-4 col-md-6">
          <a href="/" class="d-flex align-items-center text-decoration-none mb-3">
            <img src="https://betaphysics.iiti.ac.in/iit-phy-logo.png" alt="IIT Indore Physics" width="60" class="me-3">

            <div>
              <h5 class="fw-bold text-white mb-0">Department of Physics</h5>
              <small class="text-warning">
                Indian Institute of Technology Indore
              </small>
            </div>
          </a>

          <p class="small mb-0">
            PoD 1D 602, Department of Physics<br>
            Indian Institute of Technology Indore<br>
            Khandwa Road, Simrol, Indore<br>
            Madhya Pradesh - 452020, India
          </p>
        </div>

        <div class="col-lg-2 col-md-6">
          <h5 class="mb-3">Academics</h5>

          <ul class="list-unstyled">
            <li><a class="text-light text-decoration-none">Ph.D. in Physics</a></li>
            <li><a class="text-light text-decoration-none">M.Sc. in Physics</a></li>
            <li><a class="text-light text-decoration-none">B.Tech Engineering Physics</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6">
          <h5 class="mb-3">Quick Links</h5>

          <ul class="list-unstyled">
            <li><a class="text-light text-decoration-none">Faculty Directory</a></li>
            <li><a class="text-light text-decoration-none">Research Labs</a></li>
            <li><a class="text-light text-decoration-none">Seminar Archive</a></li>
            <li><a class="text-light text-decoration-none">Student Portal</a></li>
            <li><a class="text-light text-decoration-none">Publications</a></li>
            <li><a class="text-light text-decoration-none">Login</a></li>
            <li><a class="text-light text-decoration-none">Institute Link</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6">
          <h5 class="mb-3">Contact</h5>

          <p class="mb-2">
            <i class="bi bi-envelope-fill me-2"></i>
            phy_office@iiti.ac.in
          </p>

          <p>
            <i class="bi bi-telephone-fill me-2"></i>
            +91 731-660-3417
          </p>
        </div>

      </div>

      <hr class="border-secondary my-4">

      <div class="row align-items-center">

        <div class="col-md-6 text-center text-md-start">
          © 2026 Department of Physics, IIT Indore
        </div>

        <div class="col-md-6 text-center text-md-end mt-3 mt-md-0">

          <a href="#" class="text-light me-3">
            <i class="bi bi-linkedin fs-5"></i>
          </a>

          <a href="#" class="text-light me-3">
            <i class="bi bi-instagram fs-5"></i>
          </a>

          <a href="#" class="text-light me-3">
            <i class="bi bi-facebook fs-5"></i>
          </a>

          <a href="#" class="text-light me-3">
            <i class="bi bi-youtube fs-5"></i>
          </a>

          <a href="#" class="text-light">
            <i class="bi bi-twitter-x fs-5"></i>
          </a>

        </div>

      </div>
    </div>
  </footer>
  <div class=" align-items-center bg-light">

    <div class=" text-center text-md-center">
      <span class="text-dark">Powered by Arc CMS from Quadralyst</span>
    </div>
  </div>
  <div class="card h-100 shadow modern-card" style="cursor: pointer;" (click)="openUser(item.id)">
  </div>